# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str
   
   
## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float
   
   
## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float
   
   
## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int
   
   
## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int
   
   
## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv(r'demo.csv')

In [5]:
df.columns

Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password'],
      dtype='object')

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str

In [19]:
def max_joinings_month(df):
  month = df['Month Name of Joining'].value_counts()
  return month.idxmax()

print(max_joinings_month(df))

April

## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float

In [21]:
def mean_ks_salary(df):
  state = df[df['State'] == 'KS']
  return state['Salary'].mean()

print(mean_ks_salary(df))

104225.45454545454

## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [27]:
def max_mean_salary_region(df):
  region = df.groupby('Region')['Salary'].mean()
  return region.idxmax()

print(max_mean_salary_region(df))

Midwest

## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [28]:
def min_mean_salary_region(df):
  region = df.groupby('Region')['Salary'].mean()
  return region.idxmin()

print(min_mean_salary_region(df))

West

## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str

In [29]:
def max_mean_weight_city(df):
  region = df.groupby('City')['Weight in Kgs.'].mean()
  return region.idxmax()

print(max_mean_weight_city(df))

Conroe

## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float

In [34]:
def dr_prof_mean_salary_diff(df):
  doc = df[(df['Name Prefix'] == 'Dr.') | (df['Name Prefix'] == 'Drs.')]
  prof = df[(df['Name Prefix'] == 'Prof.') | (df['Name Prefix'] == 'Hon.')]

  return abs(doc['Salary'].mean()-prof['Salary'].mean())

print(dr_prof_mean_salary_diff(df))

4029.7968588788353

## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int

In [41]:
def females_with_yahoo(df):
  f = df[df['Gender'] == 'F']
  return len(f[f['E Mail'].str.contains('@yahoo', case = False)])

print(females_with_yahoo(df))

69

## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int

In [42]:
def doctors_with_gmail(df):
  doc = df[(df['Name Prefix'] == 'Dr.') | (df['Name Prefix'] == 'Drs.')]
  return len(doc[doc['E Mail'].str.contains('@gmail', case = False)])


print(doctors_with_gmail(df))

42

## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [63]:
def youngest_male_password(df):
  young = df[(df['Gender'] == 'M')]
  min_age = df['Age in Yrs.'].min()
  return young[young['Age in Yrs.'] == min_age]['Password']


print(youngest_male_password(df))

127       xPr\aGPTQ#v
945    4FZyXCh^&{!Q8u
Name: Password, dtype: object